.available-widgets {
	width: 0%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

@keyframes page-transition {
	100% {
		width: 100%;
	}
}

.page-transition {
	animation: page-transition 1s forwards;
}

app-available-widget {
	width: 30%;
	margin: 1%;
	box-sizing: border-box;
}