.available-widget {
	width: 100%;
	min-height: 10rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	text-align: center;
}
.available-widget h4 {
	width: 100%;
}

.widgetSelected {
	border: 2px solid #171644;
	box-shadow: 5px 10px #888888;
}