.control {
	height: 2rem;
	width: 20%;
	background-color: transparent;
	box-shadow: none;
	border: 1px solid black;
	margin: 2rem;
}

.generate {
	font-weight: 800;
	color: green;
	border: 2px solid green;
}

.next-step {
	border-color: #4285F4;
	color: #4285F4;
}

.prev-step {
	border-color: #DB4437;
	color: #DB4437;
}

.start-over {
	border-color: #F4B400;
	color: #F4B400;
}