<div class="program-generator">
	<app-choose-widgets *ngIf="this.UserConfigurationService.pageCreationStep === 1"></app-choose-widgets>
	<div *ngIf="this.UserConfigurationService.pageCreationStep > 1" class="widget-config-container">
		<app-configure-widget *ngFor="let widget of this.UserConfigurationService.selectedWidgets; let index = index" [widget]="widget" [index]="index + 1"></app-configure-widget>
	</div>
	<app-program-generator-controls></app-program-generator-controls>
	<app-code-output *ngIf="this.UserConfigurationService.userGeneratedCode"></app-code-output>
</div>
