<div class="configure-widget" *ngIf="isConfigurationInitiated()" class="widget-config-container">
	<h3>Step {{ index + 1 }}: Configure {{ widget.name }}</h3>
	<p>Fields that are left blank will be assigned a default value</p>
	<form #myform="ngForm" (ngSubmit)="register(myform)" class="widgetConfigForm">
		<app-input-set class="primary" [inputs]="primaryInputs"></app-input-set>
		<div *ngIf="secondaryInputs.length > 0" #expandSecondary class="expan-secondary" (click)="secondaryToggle()">
			<h4>Secondary Settings 
				<i *ngIf="!isSecondaryExpanded" class="fa fa-chevron-down"></i>
				<i *ngIf="isSecondaryExpanded" class="fa fa-chevron-up"></i>
			</h4>
		</div>
		<app-input-set class="secondary" [ngClass]="isSecondaryExpanded ? 'show' : 'hide'" [inputs]="secondaryInputs"></app-input-set>
		<fieldset class="submit-section">
			<button #saveWidget class="save-widget" type="submit">Save Widget Settings</button>
			<span class="save-disclaimer"><span style="color: red;">Important!</span> Only saved widgets will be included in the code output.</span>
		</fieldset>
	</form>
</div>