<fieldset *ngFor="let field of inputs">
	<label *ngIf="field.selectionType === 'select'">
		<span>Choose {{ field.pretty }}: </span>
		<select name="{{ field.name }}" ngModel>
			<option *ngFor="let option of field.options" value="{{ option }}">{{ option }}</option>
		</select>
	</label>
	<label *ngIf="field.selectionType === 'checkbox'" class="checkbox">
		<span>Choose {{ field.pretty }}: </span>
		<div *ngFor="let option of field.options" class="radio-set">
			<input type="checkbox" name="{{ option.name }}" value="{{ option.value }}" ngModel>
			<span>{{ option.value }}</span>
		</div>
	</label>
	<label *ngIf="field.selectionType === 'text'">
		<span>Choose {{ field.pretty }}: </span>
		<input type="text" name="{{ field.name }}" ngModel>
	</label>
</fieldset>
