.main-nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.menu-header {
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white
}
.route {
	margin: 1rem;
	width: 100%;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.route:last-of-type {
	position: relative;
}

.route:hover {
	text-decoration: underline;
}

.get-started-prompt {
	position: absolute;
	height: 2rem;
	width: 2rem;
	right: 0;
	top: -20%;
	animation: move-arrow 1s infinite;
}

@keyframes move-arrow {
	100% {
		right: 30%;
	}
}