@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}

input[type=submit], button {
	height: 2rem;
	width: 20%;
	background-color: transparent;
	box-shadow: none;
	border: 1px solid black;
}

select, input[type=text] {
	width: 20%;
	height: 2rem;
	display: block;
}

code {
	width: 80%;
	display: block;
	white-space: pre-wrap;
	color: #393318;
	background-color: #eff0f1;
}