
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$page-generator-primary: mat-palette($mat-indigo);
$page-generator-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$page-generator-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$page-generator-theme: mat-light-theme($page-generator-primary, $page-generator-accent, $page-generator-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($page-generator-theme);

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$font-stack: 'Open Sans', sans-serif;
$primary-color: #171644;

body {
	font-family: $font-stack;

	input[type=submit], button {
		height: 3rem;
		width: 30%;
		background-color: transparent;
		box-shadow: none;
		border: 1px solid black;
	}

	select, input[type=text] {
		width: 100%;
		height: 2rem;
		display: block;
		border: 1px solid #eee;
	}

	code {
		width: 100%;
		display: block;
		white-space: pre-wrap;
		color: #393318;
		background-color: #eff0f1;
	}

	h2, h3, h4 {
		font-family: 'Montserrat', ;
	}
}

.app-home, .app-get-started, .app-about {
	width: 80%;
	padding: 2%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
